<head>
    <title>Update the News</title>
</head>
<main>
    <h1>Edit News</h1>
    <form action="/news/edit/{{news._id}}" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <input
            type="text"
            id="title"
            name="title"
            value="{{title}}"
            placeholder="New Title"
            required
        />
        <textarea
            id="content"
            name="content"
            placeholder="Updated Content"
            required
        >{{content}}</textarea>
        <input
        type="text"
        id="author"
        name="author"
        value="{{author}}"
        placeholder="Author name"
        required
        />
        <input
        type="url"
        id="weblink"
        name="weblink"
        value="{{weblink}}"
        placeholder="News Link"
        required
        />
        <button type="submit">Save</button>
    </form>
</main>